body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}


/* Navbar */
header {
    background: #111;
    padding: 15px 0;
}
.logo {
    color: white;
}
.logo span {
    color: #ff4d00;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
nav a:hover {
    color: #ff4d00;
}


/* Hero Section */
.hero {
    background: url('images/burger.jpg') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}
.hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
}
.hero-content {
    position: relative;
    z-index: 2;
}
.hero h2 {
    font-size: 3rem;
}
.hero p {
    margin: 20px 0;
}


/* For all buttons with class "btn" */
.btn {
    padding: 12px 25px;
    margin: 25px;
    background: #ff4d00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


/* Menu */
.menu {
    padding: 80px 0;
    text-align: center;
}
.section-title {
    margin-bottom: 40px;
    font-size: 2rem;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #ff4d00;
}


/* Testimonials */
.testimonials {
    padding: 60px 0;
    text-align: center;
}
.testimonial-box {
    max-width: 600px;
    margin: auto;
    font-style: italic;
}


/* About */
.about {
    padding: 80px 0;
    background: #f4f4f4;
}
.about h1 {
    text-align: center;
    margin-bottom: 40px;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}
.about-text {
    flex: 1;
    font-size: larger;
}
.about-image {
    flex: 1;
}
.about-image img {
    width: 100%;
    border-radius: 10px;
}




/* ===== CONTACT ===== */
.contact {
    padding: 60px 0;
    background: #111;
    color: white;
    text-align: center;
}

.contact form {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input,
.contact textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
}



/* Footer */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px 0;
}


/* Responsive */
@media(max-width: 768px) {
    .hero h2 {
        font-size: 2rem;
    }
    .about-container {
        flex-direction: column;
    }
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav {
        margin: 10px 0;
    }
}